---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Proyecto from '../components/Proyecto.astro';
import Section from '../components/Section.astro';
import Footer from '../components/Footer.astro';
import Js from '../components/icons/Js.astro';
import AstroI from '../components/icons/AstroI.astro';
import Carrousell from '../components/Carrousell.astro';
import Academic from '../components/Academic.astro';
import proyects from '../data/proyects.json';
import academic from '../data/academic.json';
---

<Layout title='Portfolio'>
    <Header />
    <main>
        <About />
        <Carrousell />
        <Section section_name="Academic Facts">
            {academic.map((proyecto) =>(
                <Academic 
                    title={proyecto.title}
                    center={proyecto.center}
                    description={proyecto.description}
                    date_start={proyecto.date_start}
                    date_end={proyecto.date_end}
                />
            ))}
        </Section>
        <Section section_name="Proyecto">
            {proyects.map((proyecto) => (
                <Proyecto 
                    name={proyecto.name}
                    description={proyecto.description}
                    img={proyecto.image}
                    route={proyecto.route}
                />
            ))}
        </Section>
    </main>
    <Footer />
</Layout>